<div class="col">
  <div class="row m-3">
    <div class="col-md-8 p-0">
      <h1>Liste des clients</h1>
    </div>
    <div class="col-md-4 text-right">
      <app-button-action (clickEvent)="noveauClient()"></app-button-action>
    </div>
  </div>
  <div class="col m-3">
    <!--<div class="alert alert-danger" *ngIf="errorMsg">
      {{ errorMsg }}
    </div>-->
   <app-details-cl-frs></app-details-cl-frs>
  </div>
  <!--<div class="row mb-3" *ngIf="listClient.length">-->
    <div class=" col-md-12 text-center">
      <app-pagination></app-pagination>
    </div>
  </div>
