<div class="col">
  <div class="row m-3">
    <div class="col-md-8 p-0">
      <h1>Liste des articles</h1>
    </div>
    <div class="col-md-4 text-right">
      <app-button-action (clickEvent)="nouvelArticle()"></app-button-action>
    </div>
   <!--<div class="alert alert-danger" *ngIf="errorMsg">
      {{ errorMsg }}
    </div>-->
  </div>
  <div class="col m-3">
    <app-details-articles
    *ngFor="let article of articlesList"
    [article]="article"
    [articleName]="article.codeArticle!"
  ></app-details-articles>

  </div>
  <div class="row mb-3">
    <div class=" col-md-12 text-center">
      <app-pagination></app-pagination>
    </div>
  </div>

</div>
