<div class="container my-container">
<div class="card justify-content-md-center">
  <div class="card-body">
    <form>
      <div class="mb-3">
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="E-mail">
      </div>
      <div class="mb-3">
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Mot de passe">
      </div>
      <div class="mb-3 d-flex justify-content-between">
        <button type="button" class="btn btn-primary">se connecter </button>
        <button type="button" class="btn btn-link">s'inscrire</button>
      </div>
    </form>
  </div>
</div>
</div>
