<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item" *ngFor="let menu of menuProperties">
    <div id="menu{{menu.id}}">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" aria-expanded="false"
          aria-controls="flush-collapseOne" [attr.data-bs-target]="'#flush-collapseOne' + menu.id">
          <i class="{{menu.icone}}"></i>&nbsp;
          {{menu.titre}}
        </button>
      </h2>
    </div>

    <div id="flush-collapseOne{{menu.id}}" class="accordion-collapse collapse" [attr.aria-labelledby]="'menu' + menu.id"
      data-bs-parent="#accordionFlushExample">

      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let sousMenu of menu.sousMenus">
            <a href="javascript:void(0);" (click)="navigate(sousMenu)" style="color: inherit; text-decoration:none;">
              <i class="{{sousMenu.icone}}"></i>&nbsp;
              {{sousMenu.titre}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
