<div class="container my-container">
<div class="card justify-content-md-center">
  <div class="card-header">
   Se connecter
  </div>
  <div class="card-body">
    <div class="alert alert-danger" *ngIf="errorMessage">
      {{errorMessage}}
    </div>
    <div class="mb-3">
      <input type="email" class="form-control"  placeholder="name@example.com" [(ngModel)] = "authenticationRequest.login">
    </div>
    <div class="mb-3">
      <input type="password" class="form-control" placeholder="Password" [(ngModel)] = "authenticationRequest.password">
    </div>
    <div class="mb-3 d-flex justify-content-between">
      <a class="btn btn-link" [routerLink]="['/inscrire']">S'inscire</a>
      <button type="button" class="btn btn-primary" (click)="login()"><i class="fas fa-check"></i>&nbsp;Se connecter</button>
    </div>
  </div>
</div>
</div>
